.u-position-relative {
  position: relative;
}

.roles-team {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .roles-team {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .roles-team {
    padding-top: 20px;
  }
}

.roles-team.cc-header {
  position: sticky;
  top: 0px;
  z-index: 2;

  padding-top: 100px;
  padding-bottom: 12px;

  border-bottom: 1px solid hsla(0, 0.00%, 0.00%, 1.00);
  border-top-style: none;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .roles-team.cc-header {
    display: none;
  }
}

.roles-team_title {
  max-width: 35%;
  flex: 35%;
}

@media screen and (max-width: 767px) {
  .roles-team_title {
    max-width: 100%;
  }
}

.h6 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 0.9375rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .h6 {
    font-size: 0.75rem;
  }
}

.h6 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 0.9375rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .h6 {
    font-size: 0.75rem;
  }
}

.roles-team_role-wrapper {
  max-width: 65%;
  margin: 0px;
  padding: 0px;
  flex: 65%;
}

@media screen and (max-width: 767px) {
  .roles-team_role-wrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.roles-team_role {
  display: grid;
  padding-top: 12px;
  padding-bottom: 12px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  border-bottom: 1px solid whitesmoke;
}

@media screen and (max-width: 479px) {
  .roles-team_role {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }
}

.roles-team_role.cc-header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
}

.roles-team_role-title {
  color: hsla(0, 0.00%, 0.00%, 1.00);
  text-decoration: none;
}

.roles-team_role-title:hover {
  color: hsla(234.89361702127658, 100.00%, 63.14%, 1.00);
}

.roles-team_role-location {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media screen and (max-width: 479px) {
  .roles-team_role-location {
    margin-top: 4px;
    font-size: 0.8rem;
  }
}

.jobs-dept_section {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .jobs-dept_section {
    flex-direction: column;
  }
}

.jobs-container {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .jobs-container {
    flex-direction: column;
  }
}

.jobs-loading_animation {
  width: 50%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .jobs-loading_animation {
    width: 80%;
  }
}