.g-nav-wrapper {
  z-index: 9999;
}

.g-nav-wrapper-position {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;

  font-size: 1rem;
  line-height: 1.7;
}

.g-nav-skip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: var(--brand-boilerplate-components---color--webflow-blue);

  transition: background-color 200ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.g-nav-skip:hover {
  background-color: var(--brand-boilerplate-components---color--blue-600);
}

.g-nav-skip:focus {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.g-nav-skip:focus-visible {
  position: relative;
  margin-top: 0px;
  text-decoration: underline;
}

.g-nav-skip:global(.w--current) {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .g-nav-skip {
    position: absolute;
    margin-top: -40px;
  }
}

.g-nav {
  z-index: 1;

  aspect-ratio: auto;

  background-color: white;

  box-shadow: 0 1px 0 0 rgba(117, 117, 117, 0.2);

  font-size: 1rem;
  line-height: 1.6;
}

@media screen and (max-width: 991px) {
  .g-nav {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.g-main_nav_container {
  position: static;
  z-index: 1;

  display: flex;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .g-main_nav_container {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.g-brand {
  top: -1px;
  align-self: center;
  transition: color 200ms ease;
  color: #080808;
}

.g-brand:hover {
  color: #2b2b2b;
}

.g-brand:focus {
  color: #363636;
}

@media screen and (max-width: 991px) {
  .g-brand {
    top: 0px;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .g-brand {
    padding-left: 0px;
  }
}

.g-brand-logo {
  display: flex;
}

.g-nav_menu-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-mobile {
    display: flex;
    align-items: center;
  }
}

.g-nav_menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-right {
    margin-top: auto;
    padding: 20px;
    flex: 0 0 auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-right {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-right {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-right.cc-mobile {
    position: relative;
    z-index: 1;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.g-nav_menu-link_wrapper-mobile {
  position: static;

  display: flex;
  margin-right: 32px;
  padding: 0px;
  align-items: center;

  font-size: 0.9375rem;
  font-weight: 400;
}

.g-nav_menu-link_wrapper-mobile:focus {
  box-shadow: inset 0 -3px 0 0 #4353ff;
  color: #4353ff;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper-mobile {
    margin-right: 0px;
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper-mobile:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper-mobile:focus {
    box-shadow: none;
    color: hsla(0, 0.00%, 10.59%, 1.00);
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-button {
    display: flex;
    height: 100%;
    margin-right: -20px;
    padding: 22px 16px 18px;
    justify-content: center;
    align-items: center;

    background-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-button:focus-visible {
    background-color: #d8d8d8;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-button:global(.w--open) {
    z-index: 1;
    background-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-button-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
}

.g-nav_menu {
  position: static;

  display: flex;
  margin-left: 24px;
  justify-content: space-between;
  flex: 1;

  background-color: transparent;

  transition: all 200ms ease;
}

@media screen and (max-width: 991px) {
  .g-nav_menu {
    position: absolute;
    z-index: 0;

    margin-left: 0px;
    flex-direction: column;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d8d8d8;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);

    height: calc(100dvh - 65px);
  }
}

.g-nav_menu-mobile-flex {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-mobile-flex {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    height: calc(100dvh - 65px);
  }
}

.g-nav_menu-left {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-left {
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;

    border-bottom: 1px solid #d8d8d8;
  }
}

.g-nav_menu-list_item {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-list_item {
    border-bottom: 1px solid #d8d8d8;
  }
}

.g-nav_menu-list_item.cc-last {
  margin-right: 0px;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-list_item.cc-last {
    border-bottom-style: none;
  }
}

.g-nav_menu-dropdown_wrapper {
  position: static;
  display: flex;
  align-items: center;
}

.g-nav_menu-dropdown_wrapper:focus {
  box-shadow: inset 0 -3px 0 0 #4353ff;
  color: #146ef5;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_wrapper {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_wrapper:focus {
    box-shadow: none;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-dropdown_wrapper {
    align-items: stretch;
  }
}

.g-nav_menu-dropdown_toggle {
  display: flex;
  height: 100%;
  padding: 1.5rem 0px;
  align-items: center;

  transition: color 200ms ease,box-shadow 200ms ease;

  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 400;
}

.g-nav_menu-dropdown_toggle:hover {
  box-shadow: inset 0 -2px 0 0 #146ef5;
  color: #146ef5;
}

.g-nav_menu-dropdown_toggle:focus-visible {
  box-shadow: inset 0 -3px 0 0 #146ef5;
  color: var(--brand-boilerplate-components---color--webflow-blue);
  -webkit-text-stroke-color: #146ef5;
}

.g-nav_menu-dropdown_toggle:global(.w--open) {
  box-shadow: inset 0 -3px 0 0 #146ef5;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_toggle {
    width: 100%;
    justify-content: space-between;
    flex: 1;
    box-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_toggle:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_toggle:focus {
    box-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_toggle:focus-visible {
    box-shadow: none;
    color: #146ef5;
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown_toggle:global(.w--open) {
    box-shadow: none;
    color: #146ef5;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-dropdown_toggle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-dropdown_toggle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.g-nav_menu-dropdown-icon {
  position: relative;

  display: flex;
  width: 11px;
  height: 7px;
  margin-left: 8px;
  align-items: center;
  align-self: center;
}

.g-nav_menu-dropdown {
  position: absolute;
  left: 0%;
  top: 100%;
  right: 0%;
  bottom: auto;

  padding-right: 0.5rem;
  padding-left: 0.5rem;

  background-color: transparent;

  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-dropdown:global(.w--open) {
    position: relative;
    top: 0%;

    display: flex;
    padding-right: 0rem;
    padding-left: 0rem;

    border-top-style: none;
    border-bottom-style: none;
  }
}

.g-nav_menu_container {
  position: relative;
  z-index: 1;

  display: flex;
  max-width: 1280px;
  margin: 0.5rem auto;
  padding: 1.6rem;
  justify-content: space-between;

  pointer-events: auto;
}

@media screen and (max-width: 991px) {
  .g-nav_menu_container {
    position: relative;
    z-index: 2;

    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;

    border-radius: 0rem;

    box-shadow: none;
  }
}

.g-nav_menu_container.cc-small {
  position: relative;
  max-width: 820px;
}

@media screen and (max-width: 991px) {
  .g-nav_menu_container.cc-small {
    left: 0px;
    width: 100%;
    max-width: none;
  }
}

.g-nav_menu-container-bg {
  position: absolute;
  left: 50%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
  align-self: stretch;
  flex: 1;

  border-radius: 0.25rem;

  background-color: white;

  box-shadow: 0 20px 40px 0 hsla(0, 0.00%, 3.14%, 0.03), 0 10px 18px 0 hsla(0, 0.00%, 3.14%, 0.03), 0 4px 8px 0 hsla(0, 0.00%, 3.14%, 0.05), 0 1px 2px 0 hsla(0, 0.00%, 3.14%, 0.08);

  transform: translate(-50%, 0px);
  transition: all 200ms cubic-bezier(.165, .84, .44, 1);
}

@media screen and (max-width: 991px) {
  .g-nav_menu-container-bg {
    display: none;
  }
}

.g-nav_menu-list {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.75rem;
}

.g-nav_menu-section {
  margin-bottom: 0px;
  padding-right: 1.5rem;
  padding-left: 0px;
  flex: 1;

  border-right: 1px solid var(--brand-boilerplate-components---color--gray-100);

  transform: translate(0px, 0px);
}

@media screen and (max-width: 991px) {
  .g-nav_menu-section {
    width: 100%;
    padding-right: 0rem;
    padding-bottom: 1.5rem;
    flex: 0 0 auto;

    border-bottom: 1px solid var(--brand-boilerplate-components---color--gray-100);
    border-right-style: none;
    border-right-width: 0px;
  }
}

.g-nav_menu-section.cc-last {
  min-width: 274px;
  margin-bottom: 0px;
  padding-right: 0rem;
  border-right-style: none;
  border-right-width: 0px;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-section.cc-last {
    padding-bottom: 0rem;
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-section.cc-last {
    margin-bottom: 0rem;
  }
}

.g-nav_menu-section.cc-small {
  max-width: 136px;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-section.cc-small {
    max-width: none;
    flex: 1;
  }
}

.g-nav_menu-section.cc-last {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-section.cc-last {
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-section.cc-last {
    flex: 0 0 auto;
  }
}

.g-nav_menu-section.cc-ad {
  display: flex;
  width: 100%;
  padding-right: 0rem;
  flex: 0 auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  border-right-style: none;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-section.cc-ad {
    margin-bottom: 0rem;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-section.cc-ad {
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom-style: none;
    border-bottom-width: 0px;
  }
}

.g-nav_menu-section_heading {
  margin-bottom: 1.5rem;

  font-family: 'WF Visual Sans';
  color: #757575;
  font-size: 0.75rem;
  line-height: 1.3;
  font-variation-settings: "opsz" 50;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.new-g-nav-col {
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  justify-items: start;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .new-g-nav-col {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .new-g-nav-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .new-g-nav-col {
    grid-template-columns: 1fr;
  }
}

.g-nav_menu-section-list_item {
  margin-bottom: 0px;
  padding-left: 0px;
}

.g-nav_menu-section_link {
  display: flex;

  transition-property: all, color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;

  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

.g-nav_menu-section_link:hover {
  color: #146ef5;
}

.g-nav_menu-section_link:focus {
  color: #146ef5;
}

.g-nav_menu-section_link-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  transform: translate(0px, 1px);
}

@media screen and (max-width: 479px) {
  .g-nav_menu-section_link-icon {
    margin-bottom: 24px;
    transform: none;
  }
}

.g-nav_menu-section_link-heading {
  display: inline-block;
  margin-right: 8px;
  font-family: 'WF Visual Sans';
  font-weight: 600;
  letter-spacing: 0.03em;
}

.g-nav_menu-section_link-description {
  margin-top: 0.25rem;

  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .g-nav_menu-section_link-description {
    margin-top: 0rem;
  }
}

.g-nav_menu-section_link-tag {
  display: inline-block;

  font-family: 'WF Visual Sans';
  color: var(--brand-boilerplate-components---color--webflow-blue);
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.g-nav_menu-content_block-ad-link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;

  border-radius: 4px;

  background-color: var(--brand-boilerplate-components---color--gray-900);

  transition: color 200ms ease,opacity 200ms ease;

  color: white;
  text-decoration: none;
}

.g-nav_menu-content_block-ad-link:hover {
  opacity: 0.9;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-content_block-ad-link {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-content_block-ad-link {
    padding: 1rem;
  }
}

.g-nav_menu-content_block-ad-link.cc-customer {
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .g-nav_menu-content_block-ad-link.cc-customer {
    padding: 1rem;
  }
}

.g-nav_menu-content_block-ad-link.cc-product {
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;

  color: var(--brand-boilerplate-components---color--white);
}

.g-nav_menu-content_block-ad-link.cc-product:hover {
  color: var(--brand-boilerplate-components---color--webflow-blue);
}

.g-nav_menu-content_block-ad-link.cc-product.cc-platform {
  background-image: url("https://cdn.prod.website-files.com/68bf272c16ca62f05b9c1141/68bf272c16ca62f05b9c13a4_nav-platform_bg.jpg");
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.g-nav_menu-content_block-ad-link.cc-product.cc-ai {
  background-image: url("https://cdn.prod.website-files.com/68bf272c16ca62f05b9c1141/68bf272c16ca62f05b9c13c4_nav-ai_bg.jpg");
  background-position: 100% 50%;
  background-size: cover;
  transition: opacity 200ms ease;
}

.paragraph-s {
  font-size: 0.875rem;
  line-height: 1.6;
}

.g-nav_menu-content_block-ad-arrow {
  margin-top: -2px;
  margin-right: -2px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .g-nav_menu-content_block-ad-arrow {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-content_block-ad-arrow {
    font-size: 1.1rem;
  }
}

.g-nav_menu-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  display: none;
  width: 100%;
  height: 100vh;

  background-color: hsla(0, 0.00%, 3.14%, 0.60);
}

@media screen and (max-width: 991px) {
  .g-nav_menu-overlay {
    display: none;
    opacity: 0;
  }
}

.g-nav_menu-content_block-ad-top {
  position: relative;
}

.g-nav_menu-content_block-ad-eyebrow {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.g-nav_menu-content_block-ad-pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;

  border-radius: 4px;

  background-color: #146ef5;

  color: white;
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 479px) {
  .h4 {
    font-size: 1.1rem;
  }
}

.u-mt-48 {
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .u-mt-48 {
    margin-top: 1.5rem;
  }
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 2.313rem;
  line-height: 1.04;
  font-weight: 600;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 991px) {
  .h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .h3 {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 479px) {
  .h3 {
    font-size: 1.4rem;
  }
}

.caption {
  display: block;

  font-family: 'WF Visual Sans';
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.g-nav_menu-link_wrapper {
  position: static;

  display: flex;
  padding: 1.5rem 0px;
  align-items: center;

  transition: color 200ms ease,box-shadow 200ms ease;

  color: #080808;
  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
}

.g-nav_menu-link_wrapper:hover {
  box-shadow: inset 0 -2px 0 0 #146ef5;
  color: white;
}

.g-nav_menu-link_wrapper:focus {
  box-shadow: inset 0 -2px 0 0 #146ef5;
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  color: #146ef5;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper {
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper:focus {
    box-shadow: none;
    color: #1b1b1b;
  }
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper:focus-visible {
    box-shadow: none;
    color: #4353ff;
    text-decoration: underline;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-link_wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-link_wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.g-nav_menu-link_wrapper.cc-last {
  margin-right: 0px;
}

@media screen and (max-width: 991px) {
  .g-nav_menu-link_wrapper.cc-mobile_button {
    padding: 1rem 1.5rem;
    justify-content: center;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #d8d8d8;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .g-nav_menu-link_wrapper.cc-mobile_button {
    flex: 1;
  }
}

@media screen and (max-width: 479px) {
  .g-nav_menu-link_wrapper.cc-mobile_button {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.button {
  display: inline-block;
  padding: 1em 1.5em;

  border-radius: 4px;

  background-color: var(--brand-boilerplate-components---color--webflow-blue);
  background-image: none;

  box-shadow: 0 4px 4px 0 hsla(0, 0.00%, 3.14%, 0.08), 0 1px 2px 0 hsla(0, 0.00%, 3.14%, 0.20), inset 0 6px 12px 0 rgba(255, 255, 255, 0.12), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);

  transition: background-color 300ms cubic-bezier(.165, .84, .44, 1),box-shadow 300ms cubic-bezier(.165, .84, .44, 1);

  color: var(--brand-boilerplate-components---color--white);
  font-size: 0.9375rem;
  line-height: 1.2;
  font-variation-settings: "opsz" 50;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: var(--brand-boilerplate-components---color--blue-600);
  box-shadow: 0 1px 1px 0 hsla(0, 0.00%, 3.14%, 0.08), 0 1px 1px 0 hsla(0, 0.00%, 3.14%, 0.20), inset 0 6px 12px 0 rgba(255, 255, 255, 0.12), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.button:active {
  box-shadow: none;
}

.button:focus-visible {
  outline-color: var(--brand-boilerplate-components---color--webflow-blue);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 479px) {
  .button.cc-nav {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .button.cc-nav.cc-contact-sales {
    width: 100%;
  }
}

.g-nav-text_desktop {
  font-weight: 400;
}

.g-nav_contact-sales_wrapper {
  padding-top: 9px;
  padding-bottom: 9px;
}

@media screen and (max-width: 991px) {
  .g-nav_contact-sales_wrapper {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.g-nav-js {
  display: none;
}

.g-nav-css {
  display: none;
}

.one-tap-wrapper {
  position: absolute;
  top: 80px;
  width: 1px;
  height: 1px;
  margin-right: 380px;
}

.g-nav-modal_wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9007199254740991;

  display: none;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

@media screen and (max-width: 991px) {
  .g-nav-modal_wrap {
    overflow: scroll;
  }
}

.g-modal_box {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  align-self: flex-start;

  background-color: white;
}

@media screen and (max-width: 991px) {
  .g-modal_box {
    display: flex;
    height: auto;
    max-height: none;
    min-height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.g-modal_box.experiment {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .g-modal_box.experiment {
    height: auto;
    max-height: none;
    min-height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
    grid-template-columns: 1fr;
  }
}

.g-modal_x {
  position: absolute;
  left: auto;
  top: 16px;
  right: 16px;
  bottom: auto;
  z-index: 2;

  width: 32px;
  height: 32px;

  background-image: url("https://cdn.prod.website-files.com/68bf272c16ca62f05b9c1141/68bf272c16ca62f05b9c139a_x.svg");
  background-position: 50% 50%;
  background-size: 21px 21px;
  background-repeat: no-repeat;

  cursor: pointer;
}

.g-modal_x:hover {
  opacity: 0.5;
}

.g-modal_x.modal-close_btn {
  top: 1rem;
  right: 1rem;
}

.g-modal-asset {
  position: relative;
  display: flex;
  max-width: 30vw;
  min-width: 520px;
}

@media screen and (max-width: 991px) {
  .g-modal-asset {
    width: 100%;
  }
}

.g-modal-asset.cc-image {
  display: flex;
}

@media screen and (max-width: 991px) {
  .g-modal-asset.cc-image {
    max-width: 100%;
    min-width: auto;
  }
}

.g-modal-asset.cc-image.cc-test {
  max-width: none;
  min-width: 0px;
}

.g-modal-image {
  position: relative;

  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-end;

  background-color: #111;
}

@media screen and (max-width: 991px) {
  .g-modal-image {
    height: auto;
    justify-content: center;
    align-items: flex-start;
  }
}

.g-modal-image-img {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -10vh;
  z-index: 9999;

  display: block;
  width: auto;
  height: 100vh;
  max-width: none;

  border-radius: 4px;

  transform: translate(2rem, 0px);
}

@media screen and (max-width: 991px) {
  .g-modal-image-img {
    position: relative;

    display: none;
    width: auto;
    max-width: 90%;

    border-radius: 4px;

    transform: translate(0px, -2rem);
  }
}

.g-modal-image-img.cc-tablet {
  display: none;
}

@media screen and (max-width: 991px) {
  .g-modal-image-img.cc-tablet {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;

    display: block;
    width: 100%;
    height: auto;
  }
}

.g-modal-login {
  display: flex;
  overflow: scroll;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .g-modal-login {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 479px) {
  .g-modal-login {
    padding-bottom: 60px;
  }
}

.g-modal_embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.g-modal_embed.experiment {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 680px;
}

.g-modal-logos {
  display: flex;
  padding-right: 0px;
  padding-left: 40px;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .g-modal-logos {
    padding-right: 40px;
  }
}

.eyebrow {
  margin-top: 0px;

  font-family: 'WF Visual Sans';
  font-size: 0.9375rem;
  line-height: 1.3;
  font-variation-settings: "opsz" 100;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .eyebrow {
    font-size: 0.875rem;
  }
}

.g-modal-logos_wrapper {
  display: flex;
  width: 80%;
  max-width: 580px;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: minmax(100px, 200px);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .g-modal-logos_wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .g-modal-logos_wrapper {
    max-width: 100%;
  }
}

.g-modal-logos_img {
  margin: 12px 16px;
}

@media screen and (max-width: 479px) {
  .g-modal-logos_img {
    margin-right: 12px;
    margin-left: 12px;
  }
}

.g-modal_trigger {
  display: none;
}

#w-node-_7b76ffef-700b-4a12-97a3-726b2e6510b9-2e6510a1 {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e651170-2e6510a1 {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e651197-2e6510a1 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e6511ba-2e6510a1 {
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e6511bf-2e6510a1 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e6511e3-2e6510a1 {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_7b76ffef-700b-4a12-97a3-726b2e651256-2e6510a1 {
}
@media screen and (max-width: 991px) {
  #w-node-_7b76ffef-700b-4a12-97a3-726b2e65127d-2e6510a1 {
    order: -9999;
  }
}