.career_positons-link {
  display: flex;
  padding: 1.25rem 1.5rem 1.125rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;

  border-radius: 0.25rem;

  background-color: #171717;

  transition: background-color 300ms cubic-bezier(.165, .84, .44, 1);

  color: white;
  text-decoration: none;
}

.career_positons-link:hover {
  background-color: #2b2b2b;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-between.cc-gap-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 479px) {
  .h4 {
    font-size: 1.1rem;
  }
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 479px) {
  .h4 {
    font-size: 1.1rem;
  }
}

.u-mb-16 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .u-mb-16 {
    margin-bottom: 0.5rem;
  }
}

.button-icon_top-right {
  position: relative;
  display: inline-block;
  margin-left: 0.75rem;
  transition: transform 300ms cubic-bezier(.165, .84, .44, 1);
}

.h4-3 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'WF Visual Sans';
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .h4-3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 479px) {
  .h4-3 {
    font-size: 1.1rem;
  }
}